 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Hi there! I'm Yves, a computer science graduate from the University of Waterloo. I'm an Android developer with a passion in user interface/experience design. Coming from a game development background, I love to combine aesthetics, architecture, and programming to construct vibrant and attractive applications.</p>
                </div>
            </div>
        </div>
    </section>